@import "../../../scss/variables";
@import "../../../scss/mixins";

.Input {
  display: inline-block;
  position: relative;
  padding: 0;
  border: none;
  outline-style: none;
  background: transparent;

  &:disabled {
    background: #ccc;
    color: #555;
    cursor: not-allowed;
  }
}

.two-line:hover{
  //background: $primary-bg;
  outline: solid 2px $primary-bg;
  color: #fff;
}

.one-line:hover {
  outline: solid 1px $secondary-bg;
  color: #fff;
}

.two-line {
  color: $primary-color;
  margin: 2px;
  height: $primary-height - 4px;
  font-size: $secondary-height/2;
  margin-right: auto;
  width: -webkit-fill-available;
  resize: none;
}

.one-line {
  color: $secondary-color;
  margin: 1px;
  height: $secondary-height - 2px;
  font-size: $secondary-height/2;
}


